#
#        _
#    ___(_)_ __ ___  _ __ ___
#   |_  / | '_ ` _ \| '__/ __|
#  _ / /| | | | | | | | | (__
# (_)___|_|_| |_| |_|_|  \___|
#
#
# @samyak039

###########
# modules #
###########

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# TODO Sets a custom terminal title.
# zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

# Provides functions for easy archive manipulation.
zmodule archive
# Adds aliases for exa
zmodule exa
# Configures fzf for faster fetching of files and directories names.
zmodule fzf
# Provides nice git aliases and functions.
zmodule git
# # Adds aliases for the pacman package manager.
# # Also includes optional helper aliases.
# zmodule pacman


################
# 3rd modulets #
################

# ZSH plugin to enable fzf searches of a lot more stuff
zmodule unixorn/fzf-zsh-plugin
# Replace zsh's default completion selection menu with fzf
zmodule Aloxaf/fzf-tab
# A utility tool powered by fzf for using git interactively
zmodule wfxr/forgit
## just print a hacker quote randomly when open a terminal
# TODO zmodule oldratlee/hacker-quotes
## Real-time type-ahead completion for Zsh.
## Asynchronous find-as-you-type autocompletion.
# FIXME zmodule marlonrichert/zsh-autocomplete

##############
# completion #
##############

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion

################
# late modules #
################

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions


########
# TODO #
########

# #
# # Prompt
# #
#
# # Exposes to prompts how long the last command took to execute, used by asciiship.
# zmodule duration-info
# # Exposes git repository status information to prompts, used by asciiship.
# zmodule git-info
# # A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
# zmodule asciiship
