#
#        _
#    ___(_)_ __ ___  _ __ ___
#   |_  / | '_ ` _ \| '__/ __|
#  _ / /| | | | | | | | | (__
# (_)___|_|_| |_| |_|_|  \___|
#
#
# @samyak039

###########
# modules #
###########

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# # Sets a custom terminal title.
# zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

# Provides functions for easy archive manipulation.
zmodule archive
# Adds aliases for exa
zmodule exa
# Configures fzf for faster fetching of files and directories names.
zmodule fzf
# # Adds aliases for the pacman package manager.
# # Also includes optional helper aliases.
# zmodule pacman

################
# 3rd modulets #
################

# ZSH plugin to enable fzf searches of a lot more stuff
zmodule unixorn/fzf-zsh-plugin

# Replace zsh's default completion selection menu with fzf
zmodule Aloxaf/fzf-tab

# # a collection of fzf-tab completion sources.
# zmodule Freed-Wu/fzf-tab-source

## A utility tool powered by fzf for using git interactively
#zmodule wfxr/forgit

# just print a hacker quote randomly when open a terminal
zmodule oldratlee/hacker-quotes

# #  Better completion for npm
# zmodule lukechilds/zsh-better-npm-completion

# Provides Node version management integrations and associated completions.
zmodule bgrrtt/zimfw-node

## Real-time type-ahead completion for Zsh.
## Asynchronous find-as-you-type autocompletion.
# FIXME zmodule marlonrichert/zsh-autocomplete

# wakatime: Track how much time you have spent in your terminal!
zmodule wbingli/zsh-wakatime # without project detection
# zmodule sobolevn/wakatime-zsh-plugin # with project detection

# OH MY ZSH #
#############

# Aliases cheatsheet
zmodule ohmyzsh/ohmyzsh --root plugins/aliases

# command not found
zmodule ohmyzsh/ohmyzsh --root plugins/command-not-found

# # copy file to system clipboard
# TODO: get `clipcopy`
# zmodule ohmyzsh/ohmyzsh --root plugins/copyfile

# # copy path to system clipboard
# TODO: get `clipcopy`
# zmodule ohmyzsh/ohmyzsh --root plugins/copypath

# This plugin adds auto-completion and aliases for docker.
zmodule ohmyzsh/ohmyzsh --root plugins/docker

# The Flutter plugin provides completion and useful aliases
zmodule ohmyzsh/ohmyzsh --root plugins/flutter

# # npm
# zmodule ohmyzsh/ohmyzsh --root plugins/npm

# a Simple Python version management system
zmodule ohmyzsh/ohmyzsh --root plugins/pyenv

# This plugin adds completion for the text search tool ripgrep, also known as rg.
zmodule ohmyzsh/ohmyzsh --root plugins/ripgrep

# The systemd plugin provides many useful aliases for systemd.
zmodule ohmyzsh/ohmyzsh --root plugins/systemd

# The Fuck plugin — magnificent app which corrects your previous console command.
zmodule ohmyzsh/ohmyzsh --root plugins/thefuck

# alias for VSCode / VSCodium
zmodule ohmyzsh/ohmyzsh --root plugins/vscode

# smarter cd command for your terminal
zmodule ohmyzsh/ohmyzsh --root plugins/zoxide

##############
# completion #
##############

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src

# This plugin provides some features to simplify the use of Pipenv while working on ZSH.
# zmodule ohmyzsh/ohmyzsh --root plugins/pipenv

# # Enables and configures smart and extensive tab completion.
# # completion must be sourced after all modules that add completion definitions.
zmodule completion

################
# late modules #
################

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

########
# TODO #
########

# #
# # Prompt
# #
#
# # Exposes to prompts how long the last command took to execute, used by asciiship.
# zmodule duration-info
# # Exposes git repository status information to prompts, used by asciiship.
# zmodule git-info
# # A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
# zmodule asciiship
