#
#        _
#    ___(_)_ __ ___  _ __ ___
#   |_  / | '_ ` _ \| '__/ __|
#  _ / /| | | | | | | | | (__
# (_)___|_|_| |_| |_|_|  \___|
#
#
# @samyak039

###########
# modules #
###########

# Behaviour
# zmodule completion  # Enables and configures smart and extensive tab completion.
zmodule environment # Sets sane Zsh built-in environment options.
zmodule input       # Applies correct bindkeys for input events.
zmodule run-help    # Figures out where to get the best help, and gets it.

# Productivity
zmodule archive     # Provides archive and unarchive functions for easy archive manipulation.
zmodule exa         # Adds aliases and better defaults for exa.
zmodule fzf         # Configures fzf for faster fetching of files and directories names.
zmodule git         # Provides handy git aliases and functions.
zmodule magic-enter # Shown when there is no command and user presses ENTER.
zmodule ssh         # Provides a convenient way to load ssh-agent.
zmodule termtitle   # Sets a custom terminal title.
zmodule utility     # Utility aliases and functions. Adds colour to ls, grep and less.

# Distro specific
zmodule pacman # Adds aliases for the pacman package manager.

# Community modules
# zmodule joke/zim-starship # Sets up starship prompt in zsh.

################
# 3rd modulets #
################

# zmodule bgrrtt/zimfw-node              # Provides Node version management integrations and associated completions.
# zmodule oldratlee/hacker-quotes           # print a hacker quote randomly when open a terminal
zmodule Aloxaf/fzf-tab                    # Replace zsh's default completion selection menu with fzf
zmodule Freed-Wu/fzf-tab-source           # collection of fzf-tab completion sources
zmodule marlonrichert/zsh-autocomplete    # Real-time type-ahead completion for Zsh
zmodule romkatv/powerlevel10k --use degit #  A Zsh theme
zmodule unixorn/fzf-zsh-plugin            # ZSH plugin to enable fzf searches of a lot more stuff
zmodule wfxr/forgit                       # utility tool powered by fzf for using git interactively

# # wakatime: Track how much time you have spent in your terminal!
# zmodule wbingli/zsh-wakatime # without project detection
# # zmodule sobolevn/wakatime-zsh-plugin # with project detection

#============#
# oh-my-zsh! #
#============#

# zmodule ohmyzsh/ohmyzsh --root plugins/emacs             # provides aliases
# zmodule ohmyzsh/ohmyzsh --root plugins/flutter           # provides completion and useful aliases
# zmodule ohmyzsh/ohmyzsh --root plugins/git-escape-magic  # zle tweak for git command line arguments
# zmodule ohmyzsh/ohmyzsh --root plugins/jira              # command line tools for interacting with Atlassian's JIRA
# zmodule ohmyzsh/ohmyzsh --root plugins/npm               # provides completion as well as adding many useful aliases
# zmodule ohmyzsh/ohmyzsh --root plugins/nvm               # adds autocompletions
# zmodule ohmyzsh/ohmyzsh --root plugins/pyenv             # loads pyenv-virtualenv
# zmodule ohmyzsh/ohmyzsh --root plugins/ripgrep           # adds completion
# zmodule ohmyzsh/ohmyzsh --root plugins/rsync             # adds aliases
# zmodule ohmyzsh/ohmyzsh --root plugins/systemd           # provides many useful aliases
# zmodule ohmyzsh/ohmyzsh --root plugins/vscode            # provides useful aliases
zmodule ohmyzsh/ohmyzsh --root plugins/aliases           # aliases cheatsheet
zmodule ohmyzsh/ohmyzsh --root plugins/command-not-found # command not found
zmodule ohmyzsh/ohmyzsh --root plugins/docker            # adds auto-completion and aliases
zmodule ohmyzsh/ohmyzsh --root plugins/docker-compose    # provides completion
zmodule ohmyzsh/ohmyzsh --root plugins/dotenv            # Automatically load your project ENV variables from .env
zmodule ohmyzsh/ohmyzsh --root plugins/git-extras        # provides completion
zmodule ohmyzsh/ohmyzsh --root plugins/git-flow          # adds completion and aliases
zmodule ohmyzsh/ohmyzsh --root plugins/git-flow-avh      # adds completion
zmodule ohmyzsh/ohmyzsh --root plugins/isodate           # some aliases for common Date commands
zmodule ohmyzsh/ohmyzsh --root plugins/mvn               # many useful aliases
zmodule ohmyzsh/ohmyzsh --root plugins/thefuck           # The Fuck plugin
zmodule ohmyzsh/ohmyzsh --root plugins/tmux              # provides aliases for tmux

# TODO: get `clipcopy`
#
# zmodule ohmyzsh/ohmyzsh --root plugins/copybuffer # copy current line to clipboard
# zmodule ohmyzsh/ohmyzsh --root plugins/copyfile   # copy file to clipboard
# zmodule ohmyzsh/ohmyzsh --root plugins/copypath   # copy path to clipboard

# # This plugin automatically changes poetry environment when you cd into or out of the project directory.
# # Note: Script looks for pyproject.toml file to determine poetry if its a poetry environment
# zmodule ohmyzsh/ohmyzsh --root plugins/poetry-env

##############
# completion #
##############

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src

# # This plugin provides some features to simplify the use of Pipenv while working on ZSH.
# zmodule ohmyzsh/ohmyzsh --root plugins/pipenv
# # This plugin automatically installs Poetry's completions for you, and keeps them up to date as your Poetry version changes.
# zmodule ohmyzsh/ohmyzsh --root plugins/poetry

# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion

################
# late modules #
################

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

########
# TODO #
########

# #
# # Prompt
# #
#
# # Exposes to prompts how long the last command took to execute, used by asciiship.
# zmodule duration-info
# # Exposes git repository status information to prompts, used by asciiship.
# zmodule git-info
# # A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
# zmodule asciiship

# vim:ft=sh
