[submodule ".config/spicetify/gitRepo/spicetify-hide-podcasts"]
	path = .config/spicetify/gitRepo/spicetify-hide-podcasts
	url = git@github.com:theRealPadster/spicetify-hide-podcasts.git
[submodule ".config/spicetify/gitRepo/SpotifyNoPremium"]
	path = .config/spicetify/gitRepo/SpotifyNoPremium
	url = git@github.com:Daksh777/SpotifyNoPremium.git
[submodule ".config/spicetify/gitRepo/Volume-Profiles-Spicetify-Extension-v2"]
	path = .config/spicetify/gitRepo/Volume-Profiles-Spicetify-Extension-v2
	url = git@github.com:notPlancha/Volume-Profiles-Spicetify-Extension-v2.git
[submodule "/home/samyak039/.config/emacs"]
	path = /home/samyak039/.config/emacs
	url = git@github.com:doomemacs/doomemacs.git
[submodule ".local/share/doomemacs"]
	path = .local/share/doomemacs
	url = git@github.com:doomemacs/doomemacs.git
[submodule ".local/share/chemacs2"]
	path = .local/share/chemacs2
	url = git@github.com:plexus/chemacs2.git
[submodule "code/dwm"]
	path = code/dwm
	url = git@github.com:samyak039/dwm.git
[submodule "code/dmenu"]
	path = code/dmenu
	url = git@github.com:samyak039/dmenu.git
[submodule "code/dwmblocks"]
	path = code/dwmblocks
	url = git@github.com:samyak039/dwmblocks.git
[submodule "code/st"]
	path = code/st
	url = git@github.com:samyak039/st.git
