/* ****************************************************************************
 * SAMYAK039
***************************************************************************** */

:root {
  --tab-surface-regular: #1d2021;
  --tab-surface-active: #504945;
  --tab-surface-active-hover: #282828;
  --tab-surface-hover: #282828;
  --tab-border: #282828;
  --tab-text-regular: #bdae93;
  --tab-text-active: #ebdbb2;
  --tabbar-bg: #1d2021;
}

#subpanel-container {
    color-scheme: normal;
}

/* ****************************************************************************
 * GENERAL
***************************************************************************** */

/* Disable all animation
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#disable-all-animation */
@keyframes throbber {
}
@keyframes tab-burst-animation {
}
@keyframes tab-burst-animation-light {
}
@keyframes blink {
}

/* ****************************************************************************
 * TAB
***************************************************************************** */

/* Show title of unread tabs in italic #1363
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#show-title-of-unread-tabs-in-italic-1363 */
tab-item.unread .label-content {
  font-style: italic;
}

/* Change tab height #236, #2389
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#change-tab-height-236-2389 */
tab-item {
  --tab-size: 30px !important;
}
tab-item tab-item-substance {
  height: var(--tab-size);
}

/* Highlight active tab
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#highlight-active-tab */
tab-item.active .label-content {
  font-weight: bold;
}

/* Hide twisty and collapse/expand tree by clicking on tab's icon #1743
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#hide-twisty-and-collapseexpand-tree-by-clicking-on-tabs-icon-1743 */
tab-item tab-twisty {
  margin-right: -1em;
  opacity: 0 !important;
  position: relative;
  z-index: 10000;
}

/* ****************************************************************************
 * New Tab Button
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#new-tab-button
***************************************************************************** */

/* Put "new tab" button at the top of the tab bar #1376
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#put-new-tab-button-at-the-top-of-the-tab-bar-1376 */
:root {
  --newtab-button-size: 30px;
}
.newtab-button-box {
  border-bottom: 1px solid var(--tab-border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--newtab-button-size);
}
#tabbar {
  top: calc(var(--newtab-button-size) + 1px) !important;
  bottom: 0 !important;
}
tab-item.pinned {
  margin-top: calc(var(--newtab-button-size) + 1px) !important;
}

/* ****************************************************************************
 * Closebox
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#closebox
***************************************************************************** */

/* Only show tab close button on hover #1448
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#only-show-tab-close-button-on-hover-1448 */
/* "#tabbar" is required for TST 3.4.0 and later! */
#tabbar tab-item tab-item-substance:not(:hover) tab-closebox {
  display: none;
}

/* Colored background for closebox on hover
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#colored-background-for-closebox-on-hover */
tab-item tab-closebox::before {
  border-radius: 10px; /* vary between 0 and 10 to make the background rounder */
}
/* I find these work well on my monitor (slightly darker than the normal tab color) but YMMV */
tab-item tab-closebox:hover::before {
  background: #cc241d;
  opacity: 1; /* defaults to 0.1 */
}
tab-item.active tab-closebox:hover::before {
  background: #cc241d;
}

/* ****************************************************************************
 * For userChrome.css
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#for-userchromecss
***************************************************************************** */

/* Full Auto-show/hide Theme
https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#full-auto-showhide-theme */
/* Hide border on tab bar, force its state to 'scroll', adjust margin-left for width of scrollbar. */
#tabbar {
  border: 0;
  overflow-y: scroll !important;
  margin-left: -18px !important;
  scrollbar-width: auto;
}

/* Hide .twisty and adjust margins so favicons have 7px on left. */
tab-item .twisty {
  /* visibility: hidden; */
  margin-left: 15px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state. */
tab-item .label {
  margin-left: 10px;
}

/* Better alignment of Favicons when collapsed */
tab-item[data-level][data-level="0"] tab-item-substance {
  margin-left: 5% !important;
}
tab-item[data-level][data-level="1"] tab-item-substance {
  margin-left: 10% !important;
}
tab-item[data-level][data-level="2"] tab-item-substance {
  margin-left: 15% !important;
}
tab-item[data-level][data-level="3"] tab-item-substance {
  margin-left: 20% !important;
}
tab-item[data-level][data-level="4"] tab-item-substance {
  margin-left: 25% !important;
}
tab-item[data-level][data-level="5"] tab-item-substance {
  margin-left: 30% !important;
}
tab-item[data-level][data-level="6"] tab-item-substance {
  margin-left: 35% !important;
}
tab-item[data-level][data-level="7"] tab-item-substance {
  margin-left: 40% !important;
}
