
/* Firefox UI Fix */
@import "../../Firefox-UI-Fix/userContent.css";

/* Tree Style Tabs */

/* Suppress "white flash" on showing sidebar in Dark color mode #2903 */
@-moz-document regexp("moz-extension://.+/sidebar/sidebar.html.*") {
  :root,
  #background {
    background-color: green; /* https://github.com/piroor/treestyletab/blob/0eede581d763f92344fe64b1c042839f3b8ca955/webextensions/resources/ui-color.css#L198 */
  }
}

/* Change background color of dummy (group) tabs #1494 */
@-moz-document regexp("moz-extension://.+/resources/group-tab.html.*") {
  :root {
    background: red !important;
  }
}
