/* Firefox UI Fix */

@import url("../../Firefox-UI-Fix/userChrome.css");

/* Tree-Style Tabs (TST) */

@import url("./TreeStyleTab.css");

/* cascade */

/* @import "./cascade/userChrome.css"; */

/* @import "./cascade_gruvbox.css"; */

/* -------------------------------------------------------------------------- */

/* Reduce menubar padding */

/* @import "./reduce_menu_padding.css"; */

/* status bar on top-right side */

#statuspanel {
  right: 0;
  display: inline;
}

/* ---------------------- */